<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List</title>
</head>
<body>
<h1>Suppliers List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <tr th:each="supplier : ${suppliers}">
        <td th:text="${supplier.id}">123</td>
        <td th:text="${supplier.name}"> Spring in Action</td>
        <td th:text="${supplier.location}"> Spring in Action</td>
    </tr>
</table>

</body>
</html>