<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Product List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>

<div class="container col-6">
    <h1>Manage Product</h1>
    <form th:action="@{products/search}">
        <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        <input type="submit" value="Search" />


    </form>

    <table class="table table-active">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Supplier Name</th>
<!--            <th>Category Name</th>-->
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.supplier.name}"></td>
<!--            <td th:each="category : ${product.categories}">-->
<!--                <span th:text="${category.name}"></span>-->
<!--            </td>-->

            <td>
                <a th:href="@{products/edit?id={id}(id=${product.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{products/delete?id={id}(id=${product.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            </td>
        </tr>
    </table>
    <a href="products/add" class="btn btn-success">Add Product</a>
</div>
</body>
</html>