<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
<h1>Category list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}">123</td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.description}"></td>



    </tr>
</table>


</body>
</html>